.container {
  display: flex;
  justify-content: space-between;
  color: #08a3b0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #eaeaea;
  border-radius: 0.5rem;
  background-color: #f1f7fd;
  padding: 1rem;
  max-width: 17rem;
  & h3 {
    color: #454554;
  }
  & .icon {
    float: right;
  }
}
