@use 'pkg:@fontsource-utils/scss' as fontsource with (
  $weights: (400, 500, 600),
  $formats: woff2
);
@use 'pkg:@fontsource/noto-sans-display/scss' as NotoDisplay;
@use 'pkg:@fontsource/noto-sans-sc/scss' as NotoSC;
@use 'pkg:@fontsource/noto-sans-jp/scss' as NotoJP;
@use 'pkg:@fontsource/noto-sans-kr/scss' as NotoKR;

@mixin faces($font-metadata, $font-subsets) {
  @include fontsource.faces(
    $metadata: $font-metadata,
    $subsets: $font-subsets,
  );
}

@include faces(NotoDisplay.$metadata, latin);
@include faces(NotoSC.$metadata, chinese-simplified);
@include faces(NotoJP.$metadata, japanese);
@include faces(NotoKR.$metadata, korean);
